extends ./login_layout
block content
    main#mainBody
        section#loginForm
            h1 Proyecto Final
            h2 Administración Web
            h3 Juan Carlos Pérez
            a#subButton(href="/login") Login
            a#subButton(href="/signup") Sign up