extends ./login_layout
block content
    main#loginBody
        section#login
            h1 Login
            h2 </br>
            form(action="/sessions", method="POST")
                div.mb-3
                    label.form-label(for='email') Email
                    input.form-control(type='text', name='email', placeholder='Email', required, id="email")
                div.mb-3
                    label.form-label(for="password") Password
                    input.form-control(type='password', name='password', placeholder='Password', required, id="password")
                    </br>
                div.mb-3
                    input.btn.btn-primary(type='submit', value='Login')