extends ../../layout
block content
    div.mainContent
        div#commentsForm
            h1 Dejanos tus comentarios
            form(action="/app/imgs", method="POST")
                div </br>
                    label(for='title') Titulo
                    input(type='text', name='title', placeholder='Titulo', required, id="title")
                div </br>
                    label(for="comment") Comentario
                    input(type='text', name='comment', id="comment", required)
                div </br>
                    input.btn.btn-primary(type='submit', value='Comentar')
        div#commentsDesc
            h1 Apreciamos tus comentarios </br> </br>
            p Como empresa. valoramos altamente tus comentarios, los cuales nos ayudan a crecer y brindar servicios de calidad!
            img(src="../../../public/img/Furniture store-pana.svg", alt="", width="80%")