extends ../../layout
block content
    h1 Upload Image
    form(action="/app/imgs", method="POST")
        div.form-group
            label(for='email') Title
            input.form-control(type='text', name='title', placeholder='Img title', required, id="title")
        div
            label(for="password") File
            input.form-control(type='file', name='file', id="file")

        div
            input.btn.btn-info(type='submit', value='Upload')