extends ../layout
block content
    main#catalogo
        #catInfo
        h2 Catálogo
            div#cat1(onclick='catChange(this)')
            div#cat2(onclick='catChange(this)')
            div#cat3(onclick='catChange(this)')
            div#cat4(onclick='catChange(this)')
            div#cat5(onclick='catChange(this)')
        #catDetails
            h2#catText Selecciona un producto
