extends ../layout
block content
    main
    #contactPage
        #conInfo
            h1 Contacto </br>
            h1 Horarios y teléfono: </br>
            ul
                li Lunes - Viernes: 09:00 - 19:00
                li Sábados: 09:00 - 16:00
                li +52 (449) 180 2599
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1850.1589455916717!2d-102.35072574182244!3d21.96075928396498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429e601d1fc3309%3A0x32ee4fe50a23956a!2sCam.%20Ojos%20de%20Agua%20525%2C%20Vista%20Hermosa%2C%2020927%20Jes%C3%BAs%20Mar%C3%ADa%2C%20Ags.!5e0!3m2!1ses!2smx!4v1667202178082!5m2!1ses!2smx', width='40%', height='50%', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
        #mapFrame
            img(src="../../public/img/Contact us-pana.svg", alt="", width="70%")
