extends ../layout
block content
    section#home
        .class_data
            h1.name Bienvenid@ #{user.username}
            h2.degree Administracion y diseño web
        .personal_data
            h1.name Juan Carlos Perez Hernandez
            h2.degree Lic. Informatica y Tecnologias Computacionales
            h3.examen
                | Proyecto Final